.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title h1{
    color: #010000b4;
    font-size: 2.6rem;
    margin-bottom: 0;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}
.title h2{
    margin-top: 0;
    color: #100808fc;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.title p{
    color: #000000da;
    font-size: 1rem;
    text-align: center;
    width: 60%;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}





/* Context from Code Snippet css/body.css:body{ */
/* body{ */
/*     background-image: url(../img/macbook-air-2560x1440-abstract-blue-20843.jpg); */
/*     background-size: cover; */
/* } */
/* Context from Code Snippet css/cards.css: */
/*  */
/* Context from Code Snippet css/section.css:.features__section{ */
/* .features__section{ */
/*     width: 80vw; */
/*     height: 70vw; */
/*     margin: 8rem auto 10rem auto ;  */
/* } */
/* Context from Code Snippet index.html:<!DOCTYPE html> */
/* <!DOCTYPE html> */
/* <html lang="en"> */
/* <head> */
/*     <meta charset="UTF-8